# Question 4

In [1]:
import pandas as pd

In [2]:
df_customers = pd.read_csv('../prompts/4/customers.csv')
df_addresses = pd.read_csv('../prompts/4/addresses.csv')
df_orders = pd.read_csv('../prompts/4/orders.csv')

In [4]:
df_addresses

     addressID  customerID      dt_eff     dt_ends  zip_code
0            1           1  2000-01-01  2000-05-11     69431
1            2           1  2000-05-11  2015-11-04     91336
2            3           1  2015-11-04  9999-12-31     67834
3            4           2  2000-01-01  2009-05-14     21803
4            5           2  2009-05-14  2016-08-05     99238
..         ...         ...         ...         ...       ...
244        245          98  2000-01-01  2001-11-23     71251
245        246          98  2001-11-23  2012-04-09     34006
246        247          98  2012-04-09  9999-12-31     83960
247        248          99  2000-01-01  9999-12-31     64332
248        249         100  2000-01-01  9999-12-31     93765

[249 rows x 5 columns]

In [6]:
df_orders

     orderID    datetime  customerID
0          1  2008-04-12          14
1          2  2004-03-14          94
2          3  2010-06-12          23
3          4  2005-05-03          96
4          5  2019-10-19          71
..       ...         ...         ...
995      996  2005-08-30          43
996      997  2019-08-21          70
997      998  2018-02-04          50
998      999  2004-06-29          56
999     1000  2009-03-15          24

[1000 rows x 3 columns]

In [7]:
import datetime

def make_dt_object( string ):
    return datetime.datetime.strptime( string, '%Y-%m-%d' )

In [8]:
df_orders['dt_obj'] = df_orders['datetime'].apply( lambda x: make_dt_object(x) )

In [9]:
df_addresses['dt_eff_obj'] = df_addresses['dt_eff'].apply( lambda x: make_dt_object(x))
df_addresses['dt_ends_obj'] = df_addresses['dt_ends'].apply( lambda x: make_dt_object(x))

In [10]:
df_addresses

,addressID,customerID,dt_eff,dt_ends,zip_code,dt_eff_obj,dt_ends_obj
0,1,1,2000-01-01,2000-05-11,69431,2000-01-01,2000-05-11 00:00:00
1,2,1,2000-05-11,2015-11-04,91336,2000-05-11,2015-11-04 00:00:00
2,3,1,2015-11-04,9999-12-31,67834,2015-11-04,9999-12-31 00:00:00
3,4,2,2000-01-01,2009-05-14,21803,2000-01-01,2009-05-14 00:00:00
4,5,2,2009-05-14,2016-08-05,99238,2009-05-14,2016-08-05 00:00:00
...,...,...,...,...,...,...,...
244,245,98,2000-01-01,2001-11-23,71251,2000-01-01,2001-11-23 00:00:00
245,246,98,2001-11-23,2012-04-09,34006,2001-11-23,2012-04-09 00:00:00
246,247,98,2012-04-09,9999-12-31,83960,2012-04-09,9999-12-31 00:00:00
247,248,99,2000-01-01,9999-12-31,64332,2000-01-01,9999-12-31 00:00:00
248,249,100,2000-01-01,9999-12-31,93765,2000-01-01,9999-12-31 00:00:00

## get 2010 orders

In [11]:
df_2010_orders = df_orders[ df_orders['dt_obj'].apply( lambda x: x.year==2010 )  ]

In [12]:
df_2010_orders.head(10)

     orderID    datetime  customerID     dt_obj
2          3  2010-06-12          23 2010-06-12
5          6  2010-03-29          85 2010-03-29
14        15  2010-11-24           4 2010-11-24
15        16  2010-11-05          30 2010-11-05
46        47  2010-05-03          18 2010-05-03
70        71  2010-02-21          69 2010-02-21
96        97  2010-08-25          44 2010-08-25
101      102  2010-04-17          91 2010-04-17
117      118  2010-12-19          49 2010-12-19
118      119  2010-09-29          48 2010-09-29

## match on current address

In [13]:
def get_current_zip( customerID, datetime ):
    
    df_customer_address = df_addresses[ df_addresses['customerID'] == customerID ]    
    df_active = df_customer_address[ df_customer_address['dt_eff_obj'] <= datetime ][ df_customer_address['dt_ends_obj'] > datetime ]
    
    return df_active['zip_code'].values[0]

In [14]:
get_current_zip( 1, datetime.datetime(2018,1,1) )

67834

In [15]:
df_2010_orders['zip_code'] = df_2010_orders[ ['customerID','dt_obj'] ].apply( lambda x: get_current_zip(x['customerID'], x['dt_obj']), axis=1 )

/var/folders/dj/_mwbb77n38zgmcn3yx6m2ff00000gn/T/ipykernel_43462/1954968820.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_active = df_customer_address[ df_customer_address['dt_eff_obj'] <= datetime ][ df_customer_address['dt_ends_obj'] > datetime ]
/var/folders/dj/_mwbb77n38zgmcn3yx6m2ff00000gn/T/ipykernel_43462/2338961012.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2010_orders['zip_code'] = df_2010_orders[ ['customerID','dt_obj'] ].apply( lambda x: get_current_zip(x['customerID'], x['dt_obj']), axis=1 )

In [16]:
df_2010_orders

     orderID    datetime  customerID     dt_obj  zip_code
2          3  2010-06-12          23 2010-06-12     60770
5          6  2010-03-29          85 2010-03-29     22981
14        15  2010-11-24           4 2010-11-24     96093
15        16  2010-11-05          30 2010-11-05     85673
46        47  2010-05-03          18 2010-05-03     82950
70        71  2010-02-21          69 2010-02-21     66090
96        97  2010-08-25          44 2010-08-25     49072
101      102  2010-04-17          91 2010-04-17     69034
117      118  2010-12-19          49 2010-12-19     67389
118      119  2010-09-29          48 2010-09-29     70126
121      122  2010-05-19          54 2010-05-19     63021
171      172  2010-06-22          68 2010-06-22     23488
201      202  2010-06-10          83 2010-06-10     70831
216      217  2010-06-21          50 2010-06-21     80817
217      218  2010-11-23          53 2010-11-23     30877
226      227  2010-08-20          90 2010-08-20     86005
245      246  2010-01-04          74 2010-01-04     41561
294      295  2010-09-10         100 2010-09-10     93765
298      299  2010-11-08          64 2010-11-08     23557
302      303  2010-10-26          28 2010-10-26     78343
325      326  2010-05-27         100 2010-05-27     93765
334      335  2010-11-27          23 2010-11-27     60770
347      348  2010-01-09          63 2010-01-09     63793
369      370  2010-05-23          14 2010-05-23     29942
370      371  2010-10-05          95 2010-10-05     22291
371      372  2010-12-16          23 2010-12-16     60770
377      378  2010-04-13          10 2010-04-13     47252
378      379  2010-06-22          20 2010-06-22     49836
379      380  2010-07-10          32 2010-07-10     91829
473      474  2010-02-23          24 2010-02-23     50405
503      504  2010-04-15          80 2010-04-15     95949
511      512  2010-08-23          24 2010-08-23     50405
547      548  2010-01-25          85 2010-01-25     22981
552      553  2010-09-12          35 2010-09-12     10544
563      564  2010-03-06           8 2010-03-06     15779
594      595  2010-07-21          51 2010-07-21     84076
602      603  2010-04-15          58 2010-04-15     30204
606      607  2010-09-07          13 2010-09-07     96657
640      641  2010-05-03          24 2010-05-03     50405
654      655  2010-12-16          46 2010-12-16     42317
664      665  2010-08-24          12 2010-08-24     11784
676      677  2010-10-08          14 2010-10-08     29942
720      721  2010-11-01           6 2010-11-01     38824
765      766  2010-07-22          64 2010-07-22     23557
859      860  2010-03-03          33 2010-03-03     83322
876      877  2010-04-30          87 2010-04-30     77383
899      900  2010-05-11          10 2010-05-11     47252
906      907  2010-08-28          11 2010-08-28     17123
928      929  2010-09-27          43 2010-09-27     24055
942      943  2010-01-22          28 2010-01-22     78343
961      962  2010-02-02          52 2010-02-02     73545
962      963  2010-12-18          53 2010-12-18     30877
979      980  2010-10-18          62 2010-10-18     72478

In [18]:
round(df_2010_orders['zip_code'].mean())

55489