# Question 1

In [1]:
import pandas as pd

In [2]:
df_weather = pd.read_csv( '../prompts/1/weather.csv' )

In [3]:
df_weather.head()

         time  tavg  tmin  tmax
0  1982-01-01  -2.1   0.3   1.8
1  1982-01-02  -1.5  -1.5   0.8
2  1982-01-03  -2.3  -4.9  -0.3
3  1982-01-04  -5.9  -6.0  -2.3
4  1982-01-05  -8.6  -8.2  -4.8

### Find data types

In [4]:
df_weather.dtypes

time     object
tavg    float64
tmin    float64
tmax    float64
dtype: object

In [5]:
df_weather.loc[ 0, 'time' ]

'1982-01-01'

### Convert String to [Datetime Object](https://docs.python.org/3/library/datetime.html)

In [6]:
import datetime

In [7]:
DT_FORMAT = '%Y-%m-%d'
df_weather['datetime'] = df_weather['time'].apply( lambda x: datetime.datetime.strptime( x, DT_FORMAT ) )

In [8]:
df_weather.head()

         time  tavg  tmin  tmax   datetime
0  1982-01-01  -2.1   0.3   1.8 1982-01-01
1  1982-01-02  -1.5  -1.5   0.8 1982-01-02
2  1982-01-03  -2.3  -4.9  -0.3 1982-01-03
3  1982-01-04  -5.9  -6.0  -2.3 1982-01-04
4  1982-01-05  -8.6  -8.2  -4.8 1982-01-05

In [9]:
sample_dt = df_weather.loc[0, 'datetime']
sample_dt

Timestamp('1982-01-01 00:00:00')

In [10]:
print (sample_dt.year)
print (sample_dt.month)
print (sample_dt.day)
print (sample_dt.hour)
print (sample_dt.minute)
print (sample_dt.second)

1982
1
1
0
0
0

### Make range column

In [11]:
df_weather['range'] = df_weather['tmax'] - df_weather['tmin']

In [12]:
df_weather.head()

         time  tavg  tmin  tmax   datetime  range
0  1982-01-01  -2.1   0.3   1.8 1982-01-01    1.5
1  1982-01-02  -1.5  -1.5   0.8 1982-01-02    2.3
2  1982-01-03  -2.3  -4.9  -0.3 1982-01-03    4.6
3  1982-01-04  -5.9  -6.0  -2.3 1982-01-04    3.7
4  1982-01-05  -8.6  -8.2  -4.8 1982-01-05    3.4

### Make Date Selections

#### Autumn Months

In [13]:
df_autumn = df_weather.loc[ df_weather['datetime'].apply( lambda x: x.month in [9,10,11] ) ]

In [14]:
df_autumn

             time  tavg  tmin  tmax   datetime  range
243    1982-09-01  16.7  13.3  19.8 1982-09-01    6.5
244    1982-09-02  17.5  13.4  23.6 1982-09-02   10.2
245    1982-09-03  17.2  13.8  20.5 1982-09-03    6.7
246    1982-09-04  15.5  13.8  20.0 1982-09-04    6.2
247    1982-09-05  16.2  12.8  20.4 1982-09-05    7.6
...           ...   ...   ...   ...        ...    ...
14939  2022-11-26   5.8   3.3   8.3 2022-11-26    5.0
14940  2022-11-27   5.8   2.7   8.9 2022-11-27    6.2
14941  2022-11-28   3.3  -0.2   6.8 2022-11-28    7.0
14942  2022-11-29   0.4  -1.9   2.7 2022-11-29    4.6
14943  2022-11-30   2.3  -0.1   4.7 2022-11-30    4.8

[3731 rows x 6 columns]

#### Years: 1990-2009

In [15]:
df_autumn_1990_2009 = df_autumn.loc[ df_autumn['datetime'].apply( lambda x: x.year>=1990 and x.year<=2009 ) ]

In [16]:
df_autumn_1990_2009

             time  tavg  tmin  tmax   datetime  range
3165   1990-09-01  15.9  12.6  19.7 1990-09-01    7.1
3166   1990-09-02  15.3  10.6  19.1 1990-09-02    8.5
3167   1990-09-03  15.6   9.8  19.5 1990-09-03    9.7
3168   1990-09-04  16.7  10.6  20.4 1990-09-04    9.8
3169   1990-09-05  16.7  10.7  23.2 1990-09-05   12.5
...           ...   ...   ...   ...        ...    ...
10191  2009-11-26   7.7   6.1   9.2 2009-11-26    3.1
10192  2009-11-27   4.0   1.6   6.4 2009-11-27    4.8
10193  2009-11-28   5.6   4.8   7.3 2009-11-28    2.5
10194  2009-11-29   7.7   6.1   9.3 2009-11-29    3.2
10195  2009-11-30   7.0   4.4   9.5 2009-11-30    5.1

[1820 rows x 6 columns]

### Find average range!

In [18]:
avg_range = df_autumn_1990_2009['range'].mean()
print (avg_range)

5.769972451790627

In [20]:
round( avg_range )

6