# Question 3

In [2]:
f = open( '../prompts/3/triangle.txt', 'r')
triangle = f.read()
f.close()

In [3]:
print(triangle)

                  56
                34  31
              47  26  21
            61  41  12  00
          60  88  27  48  64
        40  96  18  80  15  26
      46  76  04  66  16  76  67
    65  60  21  22  65  35  55  18
  43  06  85  10  51  45  71  05  22
57  62  65  62  78  31  91  61  00  81

## Read data into usable format

In [4]:
rows = []

for row_string in triangle.strip().split('\n'):
    row_string = row_string.strip()
    numbers = row_string.split('  ')
    numbers = [ int(number) for number in numbers ]

    rows.append( numbers )

In [5]:
rows

[[56],
 [34, 31],
 [47, 26, 21],
 [61, 41, 12, 0],
 [60, 88, 27, 48, 64],
 [40, 96, 18, 80, 15, 26],
 [46, 76, 4, 66, 16, 76, 67],
 [65, 60, 21, 22, 65, 35, 55, 18],
 [43, 6, 85, 10, 51, 45, 71, 5, 22],
 [57, 62, 65, 62, 78, 31, 91, 61, 0, 81]]

## Try all solutions

In [ ]:
# one possible way to solve this is to find all 2^(N-1) possibilities

## Bottom-up

#### Working from the N-1 row and up, solve the following tiny triangle

```
  43
57  62
```

43 finds the maximum of it's children (62) and adds it to itself

```
  105
57  62
```

Solving a larger triangle

```
    65
  43  06
57  62  65 
```
gives us

```
    170
  105  71
57  62  65 
```

In [6]:
import copy
rows_copy = copy.deepcopy(rows) #don't mess with orginal

for row_num in range(len(rows_copy)-2, -1, -1):
    row = rows_copy[row_num]
    row_below = rows_copy[row_num+1]

    for col_num in range(len(row)):
        below_left = row_below[col_num]
        below_right = row_below[col_num+1]

        rows_copy[ row_num ][ col_num ] = rows_copy[ row_num ][ col_num ] + max(below_left, below_right)

In [8]:
rows

[[56],
 [34, 31],
 [47, 26, 21],
 [61, 41, 12, 0],
 [60, 88, 27, 48, 64],
 [40, 96, 18, 80, 15, 26],
 [46, 76, 4, 66, 16, 76, 67],
 [65, 60, 21, 22, 65, 35, 55, 18],
 [43, 6, 85, 10, 51, 45, 71, 5, 22],
 [57, 62, 65, 62, 78, 31, 91, 61, 0, 81]]

In [9]:
rows_copy

[[668],
 [612, 568],
 [578, 537, 428],
 [531, 511, 407, 395],
 [442, 470, 374, 395, 383],
 [326, 382, 285, 347, 308, 319],
 [256, 286, 175, 267, 217, 293, 284],
 [170, 210, 171, 151, 201, 197, 217, 121],
 [105, 71, 150, 88, 129, 136, 162, 66, 103],
 [57, 62, 65, 62, 78, 31, 91, 61, 0, 81]]

In [10]:
rows_copy[0][0]

668